.about {
  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  line-height: 1.15;

  @include lg-min {
    padding-top: ($gap*5);
    padding-bottom: ($gap*5);
  }
  @include lg-md {
    padding-top: ($gap*4);
    padding-bottom: ($gap*4);
  }
  @include md {
    padding-top: ($gap*3);
    padding-bottom: ($gap*3);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 56px;

    font-size: 2.5rem;
  }

  &__container {
    display: grid;

    max-width: $ul;
    margin: auto;
    padding: 0 ($gap);
    padding-right: $gap;
    padding-left: $gap;

    @include lg-min {
      grid-gap: ($gap*5);
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      grid-gap: ($gap*2);
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      grid-gap: $gap;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      text-align: center;

      grid-gap: $gap;
      grid-template-columns: 1fr;
    }
  }
  &__content {
    p {
      @include lg-min {
        font-size: 1.125rem;
      }
      @include lg-md {
        font-size: 1.125rem;
      }
      @include md-sm {
        font-size: 1rem;
      }
      @include sm {
        font-size: 1rem;
      }

      &:first-of-type {
        position: relative;

        margin-top: -5px;

        &::after {
          position: absolute;
          top: 0;

          width: 2px;
          height: 200px;

          content: "";

          background-color: rgba($color-gray, 0.1);

          @include lg-min {
            right: (-$gap * 2.5);
          }
          @include lg-md {
            right: (-$gap);
          }
          @include md-sm {
            right: (-$gap / 2);
          }
          @include sm {
            display: none;
          }
        }
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }


  &__image {
    display: grid;
    align-content: center;

    justify-items: center;

    img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
