.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 56px;

    font-size: 2.5rem;
  }
  &__container {
    max-width: $ul;
    margin: auto;

    @include lg-min {
      padding-right: ($gap);
      padding-left: ($gap);
    }
    @include lg-md {
      padding-right: $gap;
      padding-left: $gap;
    }
    @include md {
      padding-right: $gap;
      padding-left: $gap;
    }
  }
  &__grid {
    display: grid;

    padding-bottom: $gap;

    grid-gap: $gap;
    @include lg-min {
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
      grid-template-columns: 1fr;
    }
  }
  &__button {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
    .btn-accent {
      @include sm-min {
        min-width: 350px;
      }
      @include sm {
        width: 100%;
      }
    }
  }
}
.post-item {
  transition: background-color 0.5s;

  background-color: lighten($color-gray-light, 5%);
  &:nth-of-type(1) {
    grid-area: p1;
  }

  &:nth-of-type(2) {
    grid-area: p2;
  }

  &:nth-of-type(3) {
    grid-area: p3;
  }

  &:nth-of-type(4) {
    grid-area: p4;
  }

  &:nth-of-type(5) {
    grid-area: p5;
  }

  &:nth-of-type(6) {
    grid-area: p6;
  }

  &:hover {
    background-color: darken($color-gray-light, 5%);

    .post-item__image img {
      transform: scale(1.1);
    }
  }
  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }
  &__image {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    background-color: $color-primary;

    img {
      width: 100%;

      transition: transform 0.5s;

      object-fit: cover;
    }
  }
  &__caption {
    display: grid;
    align-content: center;

    padding: $gap;

    h3 {
      transition: color 0.5s;
      text-align: center;
      letter-spacing: 0.05em;

      color: $color-gray;

      font-family: $font-header;
      font-size: 1.125rem;
      line-height: 1.15;
    }

    p {
      transition: color 0.5s;
      text-align: center;
      letter-spacing: 0.04em;

      color: $color-gray;

      font-family: $font-main;
      font-size: $font-size;
      line-height: 1.15;
    }
  }
}
