.footer {
  padding: ($gap * 2) $gap ($gap * 3.5);

  text-align: center;

  background-color: $color-primary;



  &__social {
    position: relative;

    display: grid;
    justify-content: center;

    margin-bottom: $gap * 2;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    &::after {
      position: absolute;
      bottom: -$gap;
      left: calc(50% - 75px / 2);

      width: 75px;
      height: 2px;

      content: "";

      background-color: rgba($color-light, 0.1);
    }
  }
  &__social-icon {
    display: block;

    padding: $gap / 2;

    transition: 0.5s;
    transition: color 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.5);

      color: $color-accent;
    }
  }

  .fab {
    font-size: (2.25*$font-size);
  }


  &__copy {
    padding-top: 10px;
    span {
      &:nth-of-type(1) {
        margin-right: -0.5em;

        letter-spacing: 0.33em;

        font-weight: 100;
      }

      &:nth-of-type(2) {
        letter-spacing: 0.05em;

        color: $color-gray-light;

        font-weight: 700;
      }
    }
  }
}
